*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
	background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.sign-up{
    margin-top: 200px;
    background-color: #fff;
    width: 400px;
    height: 500px;
    row-gap: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 0px 1px 14px 1px rgba(0,0,0,0.74);
}

.sign-up-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-box{
    position: relative;
    display: flex;
    align-items: left;
    justify-content: center;
    flex-direction: column;
}

.imgs{
    position: absolute;
    right: 0;
    bottom: 10px;
}

.forgot{
    text-decoration: none;
    color: #000;
}

.sign-up-with{
    font-size: 15px;
    position: relative;
    color: rgb(90, 90, 90);
}

.sign-up-with::before{
    position: absolute;
    content: "";
    left: -90px;
    top: 10px;
    width: 80px;
    height: 1px;
    background-color: rgb(90, 90, 90);
}

.sign-up-with::after{
    position: absolute;
    content: "";
    right: -90px;
    top: 10px;
    width: 80px;
    height: 1px;
    background-color: rgb(90, 90, 90);
}

.google, .facebook{
    width: 42px;
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
}

.companies{
    gap: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.forgot:hover{
    color: rgb(90, 90, 90);
}

.input{
    border-top: none;
    border-left: none;
    border-right: none;
    width: 300px;
    height: 40px;
}

.submit-btn{
    width: 300px;
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    color: #fff;
    background: linear-gradient(334deg, #6b97f7, #7525e2, #f7137e);
	background-size: 180% 180%;
	animation: gradient-animation 6s ease infinite;
    transition: 0.3s all ease-in-out;
}

.submit-btn:hover{
    transform: scale(1.05);
    transition: 0.3s all ease-in-out;
}

.sign-up-title{
    font-size: 27px;
}


/* @keyframes animation{
    0%{
        background-position: 0% 50%;
    }

    50%{
        background-position: 50% 50%;
    }

    75%{
        background-position: 50% 0%;
    }

    100%{
        background-position: 0% 50%;
    }
} */



@keyframes gradient-animation {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}



